<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List</title>
</head>
<f>
<h2>My To-Do List</h2>
<ul>
    {% for task in tasks %}
    <li>
        {{ task.title }}
        {% if task.Done %}
           <span> - Done</span>
        {% endif %}
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete_task' task.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>
<form method="POST" action="{% url 'create_task' %}">
    {% csrf_token %}
    <input type="text" name="title" placeholder="New task" required>
    <button type="Submit">Add</button>
</form>
</body>
</html>